/* Coolors Exported Palette - coolors.co/ddf2fc-ccc1a7-8c826a-a1b7c5-58473f */

/* RGB */
$color1: rgba(221, 242, 252, 1);
$color2: rgba(165, 188, 203, 1);
$color3: rgba(227, 189, 112, 1);
$color4: rgba(204, 193, 167, 1);
$color5: rgba(186, 173, 141, 1);
$color6: rgba(140, 130, 106, 1);
$color7: rgba(117, 93, 72, 1);
$color8: rgba(88, 71, 63, 1);
