/******************************
* STYLES
*******************************/
* {
  font-family: 'Aldrich', sans-serif; }

.main-container {
  background-color: #DBC79F; }
  .main-container h1 {
    margin-top: 0; }

.views {
  padding-top: 40px;
  width: 80%;
  margin: 0 auto; }

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center; }
  .nav .jumbo {
    background: url("./assets/Screen Shot 2016-07-12 at 12.09.55 AM.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: -1; }
    .nav .jumbo h1 {
      font-size: 5em;
      color: white;
      text-align: center;
      text-shadow: 3px 3px 9px rgba(0, 0, 0, 0.4);
      margin: 10px;
      margin-bottom: 0; }
    .nav .jumbo img {
      width: 100px;
      height: 100px;
      margin-bottom: 40px; }
    .nav .jumbo span {
      color: white;
      text-align: center;
      margin-bottom: 30px;
      text-shadow: 0 0 4px black; }

#nav-list {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #5D483F;
  box-shadow: 0 -7px 10px 5px rgba(0, 0, 0, 0.4);
  margin-top: 380px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 5px dashed #4D3E36; }
  #nav-list li {
    box-sizing: border-box;
    height: 40px;
    display: flex;
    align-content: center;
    background-color: #5D483F;
    transition: transform 0.3s ease; }
    #nav-list li:hover {
      transform: translateY(-7px);
      border-top: 3px solid #4D3E36;
      border-left: 3px solid #4D3E36;
      border-right: 3px solid #4D3E36;
      box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.2);
      font-weight: bold;
      border-radius: 4px; }
  #nav-list a {
    color: #F7D490;
    font-size: 1em;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 10px 30px 0 30px; }

.login {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }
  .login input, .login button {
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 1.56em;
    color: #4D3E36;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 3px solid #4D3E36;
    box-shadow: 0 4px 5px 5px rgba(0, 0, 0, 0.2); }
  .login input {
    min-width: 270px;
    width: 40%; }
  .login button {
    background: #B5A989;
    cursor: pointer; }
    .login button:hover {
      font-weight: bold;
      transform: scale(1.1); }
  .login span {
    margin-right: 20px; }

.news {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #4D3E36; }
  .news article {
    width: 30%; }
  .news img {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 3px solid #4D3E36; }
